<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=.;Database=TestDb;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="IntellisenseCount" value="15" />
    <add key="ServiceUrl" value="http://testSite.com/home" />
    <add key="Expiry" value="00:30:00" />
    <add key="DueDate" value="2009-05-08 14:40:52" />
  </appSettings>
</configuration>